<img src="https://www.previewsworld.com/SiteImage/MainImage/STL167573.jpg">


Thomas Redding, Human Cleric, Level 1

Quick Stats:
<table>
<tr>
<td>CON: 14</td>
<td>HP: 10/10</td>
</tr>

<tr>
<td>STR: 14</td>
<td>Armor Class: <%=@armor%></td>
</tr>

<tr>
<td>DEX: 10</td>
<td>Fort: +4 </td>
</tr>

<tr>
<td>WIS: 15</td>
<td>Ref: +0</td>
</tr>

<tr>
<td>INT: 8</td>
<td>Will: +4</td>
</tr>

<tr>
<td>CHA: 11</td>
<td>Attack Bonus: +1, Deals <%=@weapon%>+2</td>
</tr>

</table>

<div>
Equipment: Chainmail armor, one-handed mace, simple shield, two-handed sword, camping gear, torch.
</div>


<div>Currently Wielding: Mace and shield
</div>

<div>
Equip two-handed sword
</div>

<div>
Cast a Spell: Cure Light Wounds, Cure Light Wounds, Bless, Create Water
</div>

<div>
Take Damage
</div>

<div>
Heal
</div>

<div>
Simulate a combat
</div>

<div>Debugging Values </div>
<div> @big_sword = <%=@big_sword%> </div>
