<div>
  <div>
    <h1>
      Prepare Spells
    </h1>
  </div>

    <h5>
     
    </h5>
   <a href="/index">Back to character sheet</a> 
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Prepare a spell
    </h2>

    <form action="/insert_spell" method="post">
      <div>
        <label for="spells_box">
          Spells
        </label>

        <input type="text" id="spells_box" name="query_spells">
      </div>

      <button>
        Prepare a spell
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
      
        <th>
          Spells
        </th>

      </tr>

      <% @list_of_spells.each do |a_spell| %>
      <tr>
       

        <td>
          <%= a_spell.spells %>
        </td>

       

        
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
